<?xml version='1.0' encoding='utf-8'?>
<robot name="classic_occ_bottle_with_articulated_cap">
	<material name="glass">
		<color rgba="0.58 0.79 0.72 0.42" />
	</material>
	<material name="charcoal">
		<color rgba="0.1 0.11 0.13 1" />
	</material>
	<link name="bottle">
		<inertial>
			<origin xyz="0 0 0.066" rpy="0 0 0" />
			<mass value="0.32" />
			<inertia ixx="0.000491947" ixy="0" ixz="0" iyy="0.00062688" iyz="0" izz="0.000189547" />
		</inertial>
		<visual name="bottle">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/bottle.glb" />
			</geometry>
		</visual>
	</link>
	<link name="cap">
		<inertial>
			<origin xyz="0 0.018 0.006" rpy="0 0 0" />
			<mass value="0.05" />
			<inertia ixx="6.21667e-06" ixy="0" ixz="0" iyy="6.21667e-06" iyz="0" izz="7.225e-06" />
		</inertial>
		<visual name="cap">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/cap.glb" />
			</geometry>
		</visual>
	</link>
	<joint name="cap_hinge" type="revolute">
		<origin xyz="0 -0.018 0.1368" rpy="0 0 0" />
		<parent link="bottle" />
		<child link="cap" />
		<axis xyz="1 0 0" />
		<limit effort="2" velocity="2.5" lower="0" upper="2.1" />
	</joint>
</robot>