<?xml version='1.0' encoding='utf-8'?>
<robot name="washing_machine">
	<link name="cabinet">
		<visual name="cabinet__cabinet_shell">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/cabinet__cabinet_shell.glb" />
			</geometry>
		</visual>
	</link>
	<link name="drum">
		<visual name="drum__drum_shell">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/drum__drum_shell.glb" />
			</geometry>
		</visual>
	</link>
	<link name="door">
		<visual name="door__door_frame">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/door__door_frame.glb" />
			</geometry>
		</visual>
		<visual name="door__door_glass">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/door__door_glass.glb" />
			</geometry>
		</visual>
	</link>
	<link name="detergent_drawer">
		<visual name="detergent_drawer__drawer_body">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/detergent_drawer__drawer_body.glb" />
			</geometry>
		</visual>
	</link>
	<link name="knob">
		<visual name="knob__knob_body">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/knob__knob_body.glb" />
			</geometry>
		</visual>
	</link>
	<joint name="drum_axle" type="continuous">
		<origin xyz="0.05 0 0.4" rpy="0 0 0" />
		<parent link="cabinet" />
		<child link="drum" />
		<axis xyz="1 0 0" />
		<limit effort="5" velocity="10" />
	</joint>
	<joint name="door_hinge" type="revolute">
		<origin xyz="0.3 0.24 0.4" rpy="0 0 0" />
		<parent link="cabinet" />
		<child link="door" />
		<axis xyz="0 0 1" />
		<limit effort="1" velocity="1" lower="0" upper="2.5" />
	</joint>
	<joint name="drawer_slide" type="prismatic">
		<origin xyz="0.3 0.15 0.775" rpy="0 0 0" />
		<parent link="cabinet" />
		<child link="detergent_drawer" />
		<axis xyz="1 0 0" />
		<limit effort="1" velocity="1" lower="0" upper="0.2" />
	</joint>
	<joint name="knob_dial" type="continuous">
		<origin xyz="0.3 -0.15 0.775" rpy="0 0 0" />
		<parent link="cabinet" />
		<child link="knob" />
		<axis xyz="1 0 0" />
		<limit effort="1" velocity="5" />
	</joint>
</robot>