<robot name="adjustable_decline_bench">
  <material name="satin_black_steel">
    <color rgba="0.02 0.022 0.022 1" />
    </material>
  <material name="black_vinyl_pad">
    <color rgba="0.015 0.015 0.017 1" />
    </material>
  <material name="dense_black_foam">
    <color rgba="0.005 0.005 0.006 1" />
    </material>
  <material name="dark_gray_plastic">
    <color rgba="0.1 0.105 0.11 1" />
    </material>
  <material name="brushed_steel_axle">
    <color rgba="0.48 0.48 0.46 1" />
    </material>
  <link name="frame">
    <visual name="base_rail_0">
      <origin xyz="0.06 -0.22 0.12" rpy="0 1.5708 0" />
      <geometry>
        <cylinder radius="0.024" length="1.76" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="base_rail_1">
      <origin xyz="0.06 0.22 0.12" rpy="0 1.5708 0" />
      <geometry>
        <cylinder radius="0.024" length="1.76" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="rear_crossbar">
      <origin xyz="-0.82 0 0.12" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.026" length="0.68" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="front_crossbar">
      <origin xyz="0.94 0 0.12" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.026" length="0.68" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="middle_crossbar">
      <origin xyz="0.18 0 0.12" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.022" length="0.44" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="front_center_rail">
      <origin xyz="0.56 0 0.12" rpy="0 1.5708 0" />
      <geometry>
        <cylinder radius="0.02" length="0.76" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="back_hinge_strut_0">
      <origin xyz="-0.295 -0.2 0.31" rpy="0 0.744325 0" />
      <geometry>
        <cylinder radius="0.021" length="0.516624" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="seat_hinge_post_0">
      <origin xyz="0.36 -0.2 0.31" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.021" length="0.38" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="top_side_rail_0">
      <origin xyz="0.12 -0.2 0.5" rpy="0 1.5708 0" />
      <geometry>
        <cylinder radius="0.018" length="0.48" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="back_hinge_strut_1">
      <origin xyz="-0.295 0.2 0.31" rpy="0 0.744325 0" />
      <geometry>
        <cylinder radius="0.021" length="0.516624" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="seat_hinge_post_1">
      <origin xyz="0.36 0.2 0.31" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.021" length="0.38" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="top_side_rail_1">
      <origin xyz="0.12 0.2 0.5" rpy="0 1.5708 0" />
      <geometry>
        <cylinder radius="0.018" length="0.48" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="back_hinge_axle">
      <origin xyz="-0.12 0 0.5" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.012" length="0.54" />
        </geometry>
      <material name="brushed_steel_axle">
        <color rgba="0.48 0.48 0.46 1" />
        </material>
      </visual>
    <visual name="seat_hinge_axle">
      <origin xyz="0.36 0 0.5" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.012" length="0.5" />
        </geometry>
      <material name="brushed_steel_axle">
        <color rgba="0.48 0.48 0.46 1" />
        </material>
      </visual>
    <visual name="front_upright">
      <origin xyz="0.82 0 0.335" rpy="0 0.272146 0" />
      <geometry>
        <cylinder radius="0.024" length="0.44643" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="front_upright_brace_0">
      <origin xyz="0.74 -0.09 0.295" rpy="0 0.708626 0.643501" />
      <geometry>
        <cylinder radius="0.016" length="0.460977" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="front_upright_brace_1">
      <origin xyz="0.74 0.09 0.295" rpy="0 0.708626 -0.643501" />
      <geometry>
        <cylinder radius="0.016" length="0.460977" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="front_roller_axle">
      <origin xyz="0.88 0 0.55" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.014" length="0.72" />
        </geometry>
      <material name="brushed_steel_axle">
        <color rgba="0.48 0.48 0.46 1" />
        </material>
      </visual>
    <visual name="roller_axle_block">
      <origin xyz="0.88 0 0.55" rpy="0 0 0" />
      <geometry>
        <box size="0.11 0.06 0.035" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="rear_wheel_axle">
      <origin xyz="-0.92 0 0.07" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.01" length="0.65" />
        </geometry>
      <material name="brushed_steel_axle">
        <color rgba="0.48 0.48 0.46 1" />
        </material>
      </visual>
    <visual name="rear_wheel_mount_0">
      <origin xyz="-0.87 -0.2275 0.095" rpy="0 1.91856 -2.38183" />
      <geometry>
        <cylinder radius="0.014" length="0.146714" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="rear_wheel_mount_1">
      <origin xyz="-0.87 0.2275 0.095" rpy="0 1.91856 2.38183" />
      <geometry>
        <cylinder radius="0.014" length="0.146714" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <collision name="base_rail_0">
      <origin xyz="0.06 -0.22 0.12" rpy="0 1.5708 0" />
      <geometry>
        <cylinder radius="0.024" length="1.76" />
        </geometry>
      </collision>
    <collision name="base_rail_1">
      <origin xyz="0.06 0.22 0.12" rpy="0 1.5708 0" />
      <geometry>
        <cylinder radius="0.024" length="1.76" />
        </geometry>
      </collision>
    <collision name="rear_crossbar">
      <origin xyz="-0.82 0 0.12" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.026" length="0.68" />
        </geometry>
      </collision>
    <collision name="front_crossbar">
      <origin xyz="0.94 0 0.12" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.026" length="0.68" />
        </geometry>
      </collision>
    <collision name="middle_crossbar">
      <origin xyz="0.18 0 0.12" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.022" length="0.44" />
        </geometry>
      </collision>
    <collision name="front_center_rail">
      <origin xyz="0.56 0 0.12" rpy="0 1.5708 0" />
      <geometry>
        <cylinder radius="0.02" length="0.76" />
        </geometry>
      </collision>
    <collision name="back_hinge_strut_0">
      <origin xyz="-0.295 -0.2 0.31" rpy="0 0.744325 0" />
      <geometry>
        <cylinder radius="0.021" length="0.516624" />
        </geometry>
      </collision>
    <collision name="seat_hinge_post_0">
      <origin xyz="0.36 -0.2 0.31" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.021" length="0.38" />
        </geometry>
      </collision>
    <collision name="top_side_rail_0">
      <origin xyz="0.12 -0.2 0.5" rpy="0 1.5708 0" />
      <geometry>
        <cylinder radius="0.018" length="0.48" />
        </geometry>
      </collision>
    <collision name="back_hinge_strut_1">
      <origin xyz="-0.295 0.2 0.31" rpy="0 0.744325 0" />
      <geometry>
        <cylinder radius="0.021" length="0.516624" />
        </geometry>
      </collision>
    <collision name="seat_hinge_post_1">
      <origin xyz="0.36 0.2 0.31" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.021" length="0.38" />
        </geometry>
      </collision>
    <collision name="top_side_rail_1">
      <origin xyz="0.12 0.2 0.5" rpy="0 1.5708 0" />
      <geometry>
        <cylinder radius="0.018" length="0.48" />
        </geometry>
      </collision>
    <collision name="back_hinge_axle">
      <origin xyz="-0.12 0 0.5" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.012" length="0.54" />
        </geometry>
      </collision>
    <collision name="seat_hinge_axle">
      <origin xyz="0.36 0 0.5" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.012" length="0.5" />
        </geometry>
      </collision>
    <collision name="front_upright">
      <origin xyz="0.82 0 0.335" rpy="0 0.272146 0" />
      <geometry>
        <cylinder radius="0.024" length="0.44643" />
        </geometry>
      </collision>
    <collision name="front_upright_brace_0">
      <origin xyz="0.74 -0.09 0.295" rpy="0 0.708626 0.643501" />
      <geometry>
        <cylinder radius="0.016" length="0.460977" />
        </geometry>
      </collision>
    <collision name="front_upright_brace_1">
      <origin xyz="0.74 0.09 0.295" rpy="0 0.708626 -0.643501" />
      <geometry>
        <cylinder radius="0.016" length="0.460977" />
        </geometry>
      </collision>
    <collision name="front_roller_axle">
      <origin xyz="0.88 0 0.55" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.014" length="0.72" />
        </geometry>
      </collision>
    <collision name="roller_axle_block">
      <origin xyz="0.88 0 0.55" rpy="0 0 0" />
      <geometry>
        <box size="0.11 0.06 0.035" />
        </geometry>
      </collision>
    <collision name="rear_wheel_axle">
      <origin xyz="-0.92 0 0.07" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.01" length="0.65" />
        </geometry>
      </collision>
    <collision name="rear_wheel_mount_0">
      <origin xyz="-0.87 -0.2275 0.095" rpy="0 1.91856 -2.38183" />
      <geometry>
        <cylinder radius="0.014" length="0.146714" />
        </geometry>
      </collision>
    <collision name="rear_wheel_mount_1">
      <origin xyz="-0.87 0.2275 0.095" rpy="0 1.91856 2.38183" />
      <geometry>
        <cylinder radius="0.014" length="0.146714" />
        </geometry>
      </collision>
    </link>
  <link name="backrest">
    <visual name="back_cushion">
      <origin xyz="-0.57 0 0.035" rpy="0 -0.174533 0" />
      <geometry>
        <mesh filename="assets/meshes/backrest_cushion.obj" />
        </geometry>
      <material name="black_vinyl_pad">
        <color rgba="0.015 0.015 0.017 1" />
        </material>
      </visual>
    <visual name="back_hinge_sleeve">
      <origin xyz="0 0 0" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.024" length="0.32" />
        </geometry>
      <material name="brushed_steel_axle">
        <color rgba="0.48 0.48 0.46 1" />
        </material>
      </visual>
    <visual name="back_spine">
      <origin xyz="-0.458012 0 -0.0938782" rpy="0 1.73857 3.14159" />
      <geometry>
        <cylinder radius="0.017" length="0.908783" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="back_pad_strap">
      <origin xyz="-0.374227 0 -0.0619863" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.01" length="0.34" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="back_pad_mount_0">
      <origin xyz="-0.38 -0.11 -0.005" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.012" length="0.1" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="back_pad_mount_1">
      <origin xyz="-0.38 0.11 -0.005" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.012" length="0.1" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <collision name="back_cushion">
      <origin xyz="-0.57 0 0.035" rpy="0 -0.174533 0" />
      <geometry>
        <mesh filename="assets/meshes/backrest_cushion.obj" />
        </geometry>
      </collision>
    <collision name="back_hinge_sleeve">
      <origin xyz="0 0 0" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.024" length="0.32" />
        </geometry>
      </collision>
    <collision name="back_spine">
      <origin xyz="-0.458012 0 -0.0938782" rpy="0 1.73857 3.14159" />
      <geometry>
        <cylinder radius="0.017" length="0.908783" />
        </geometry>
      </collision>
    <collision name="back_pad_strap">
      <origin xyz="-0.374227 0 -0.0619863" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.01" length="0.34" />
        </geometry>
      </collision>
    <collision name="back_pad_mount_0">
      <origin xyz="-0.38 -0.11 -0.005" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.012" length="0.1" />
        </geometry>
      </collision>
    <collision name="back_pad_mount_1">
      <origin xyz="-0.38 0.11 -0.005" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.012" length="0.1" />
        </geometry>
      </collision>
    </link>
  <link name="seat">
    <visual name="seat_cushion">
      <origin xyz="-0.23 0 0.095" rpy="0 0 0" />
      <geometry>
        <mesh filename="assets/meshes/seat_cushion.obj" />
        </geometry>
      <material name="black_vinyl_pad">
        <color rgba="0.015 0.015 0.017 1" />
        </material>
      </visual>
    <visual name="seat_hinge_sleeve">
      <origin xyz="0 0 0" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.023" length="0.29" />
        </geometry>
      <material name="brushed_steel_axle">
        <color rgba="0.48 0.48 0.46 1" />
        </material>
      </visual>
    <visual name="seat_spine">
      <origin xyz="-0.195 0 -0.0015" rpy="0 1.49795 3.14159" />
      <geometry>
        <cylinder radius="0.015" length="0.370984" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="seat_pad_strap">
      <origin xyz="-0.2 0 0.008" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.009" length="0.32" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="seat_pad_mount_0">
      <origin xyz="-0.2 -0.11 0.038" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.012" length="0.064" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <visual name="seat_pad_mount_1">
      <origin xyz="-0.2 0.11 0.038" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.012" length="0.064" />
        </geometry>
      <material name="satin_black_steel">
        <color rgba="0.02 0.022 0.022 1" />
        </material>
      </visual>
    <collision name="seat_cushion">
      <origin xyz="-0.23 0 0.095" rpy="0 0 0" />
      <geometry>
        <mesh filename="assets/meshes/seat_cushion.obj" />
        </geometry>
      </collision>
    <collision name="seat_hinge_sleeve">
      <origin xyz="0 0 0" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.023" length="0.29" />
        </geometry>
      </collision>
    <collision name="seat_spine">
      <origin xyz="-0.195 0 -0.0015" rpy="0 1.49795 3.14159" />
      <geometry>
        <cylinder radius="0.015" length="0.370984" />
        </geometry>
      </collision>
    <collision name="seat_pad_strap">
      <origin xyz="-0.2 0 0.008" rpy="0 1.5708 1.5708" />
      <geometry>
        <cylinder radius="0.009" length="0.32" />
        </geometry>
      </collision>
    <collision name="seat_pad_mount_0">
      <origin xyz="-0.2 -0.11 0.038" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.012" length="0.064" />
        </geometry>
      </collision>
    <collision name="seat_pad_mount_1">
      <origin xyz="-0.2 0.11 0.038" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.012" length="0.064" />
        </geometry>
      </collision>
    </link>
  <link name="roller_0">
    <visual name="foam_roller">
      <geometry>
        <cylinder radius="0.075" length="0.22" />
        </geometry>
      <material name="dense_black_foam">
        <color rgba="0.005 0.005 0.006 1" />
        </material>
      </visual>
    <visual name="end_cap_0">
      <origin xyz="0 0 -0.117" rpy="0 0 0" />
      <geometry>
        <mesh filename="assets/meshes/roller_0_end_cap_0.obj" />
        </geometry>
      <material name="dark_gray_plastic">
        <color rgba="0.1 0.105 0.11 1" />
        </material>
      </visual>
    <visual name="end_cap_1">
      <origin xyz="0 0 0.117" rpy="0 0 0" />
      <geometry>
        <mesh filename="assets/meshes/roller_0_end_cap_1.obj" />
        </geometry>
      <material name="dark_gray_plastic">
        <color rgba="0.1 0.105 0.11 1" />
        </material>
      </visual>
    <collision name="foam_roller">
      <geometry>
        <cylinder radius="0.075" length="0.22" />
        </geometry>
      </collision>
    <collision name="end_cap_0">
      <origin xyz="0 0 -0.117" rpy="0 0 0" />
      <geometry>
        <mesh filename="assets/meshes/roller_0_end_cap_0.obj" />
        </geometry>
      </collision>
    <collision name="end_cap_1">
      <origin xyz="0 0 0.117" rpy="0 0 0" />
      <geometry>
        <mesh filename="assets/meshes/roller_0_end_cap_1.obj" />
        </geometry>
      </collision>
    </link>
  <link name="roller_1">
    <visual name="foam_roller">
      <geometry>
        <cylinder radius="0.075" length="0.22" />
        </geometry>
      <material name="dense_black_foam">
        <color rgba="0.005 0.005 0.006 1" />
        </material>
      </visual>
    <visual name="end_cap_0">
      <origin xyz="0 0 -0.117" rpy="0 0 0" />
      <geometry>
        <mesh filename="assets/meshes/roller_1_end_cap_0.obj" />
        </geometry>
      <material name="dark_gray_plastic">
        <color rgba="0.1 0.105 0.11 1" />
        </material>
      </visual>
    <visual name="end_cap_1">
      <origin xyz="0 0 0.117" rpy="0 0 0" />
      <geometry>
        <mesh filename="assets/meshes/roller_1_end_cap_1.obj" />
        </geometry>
      <material name="dark_gray_plastic">
        <color rgba="0.1 0.105 0.11 1" />
        </material>
      </visual>
    <collision name="foam_roller">
      <geometry>
        <cylinder radius="0.075" length="0.22" />
        </geometry>
      </collision>
    <collision name="end_cap_0">
      <origin xyz="0 0 -0.117" rpy="0 0 0" />
      <geometry>
        <mesh filename="assets/meshes/roller_1_end_cap_0.obj" />
        </geometry>
      </collision>
    <collision name="end_cap_1">
      <origin xyz="0 0 0.117" rpy="0 0 0" />
      <geometry>
        <mesh filename="assets/meshes/roller_1_end_cap_1.obj" />
        </geometry>
      </collision>
    </link>
  <link name="wheel_0">
    <visual name="tire">
      <geometry>
        <mesh filename="assets/meshes/wheel_0_tire.obj" />
        </geometry>
      <material name="dense_black_foam">
        <color rgba="0.005 0.005 0.006 1" />
        </material>
      </visual>
    <visual name="hub">
      <geometry>
        <mesh filename="assets/meshes/wheel_0_hub.obj" />
        </geometry>
      <material name="dark_gray_plastic">
        <color rgba="0.1 0.105 0.11 1" />
        </material>
      </visual>
    <collision name="tire">
      <geometry>
        <mesh filename="assets/meshes/wheel_0_tire.obj" />
        </geometry>
      </collision>
    <collision name="hub">
      <geometry>
        <mesh filename="assets/meshes/wheel_0_hub.obj" />
        </geometry>
      </collision>
    </link>
  <link name="wheel_1">
    <visual name="tire">
      <geometry>
        <mesh filename="assets/meshes/wheel_1_tire.obj" />
        </geometry>
      <material name="dense_black_foam">
        <color rgba="0.005 0.005 0.006 1" />
        </material>
      </visual>
    <visual name="hub">
      <geometry>
        <mesh filename="assets/meshes/wheel_1_hub.obj" />
        </geometry>
      <material name="dark_gray_plastic">
        <color rgba="0.1 0.105 0.11 1" />
        </material>
      </visual>
    <collision name="tire">
      <geometry>
        <mesh filename="assets/meshes/wheel_1_tire.obj" />
        </geometry>
      </collision>
    <collision name="hub">
      <geometry>
        <mesh filename="assets/meshes/wheel_1_hub.obj" />
        </geometry>
      </collision>
    </link>
  <joint name="frame_to_roller_0" type="continuous">
    <origin xyz="0.88 -0.19 0.55" rpy="-1.5708 0 0" />
    <parent link="frame" />
    <child link="roller_0" />
    <axis xyz="0 0 1" />
    <limit effort="6" velocity="12" />
    </joint>
  <joint name="frame_to_roller_1" type="continuous">
    <origin xyz="0.88 0.19 0.55" rpy="-1.5708 0 0" />
    <parent link="frame" />
    <child link="roller_1" />
    <axis xyz="0 0 1" />
    <limit effort="6" velocity="12" />
    </joint>
  <joint name="frame_to_wheel_0" type="continuous">
    <origin xyz="-0.92 -0.34 0.07" rpy="0 0 1.5708" />
    <parent link="frame" />
    <child link="wheel_0" />
    <axis xyz="1 0 0" />
    <limit effort="4" velocity="18" />
    </joint>
  <joint name="frame_to_wheel_1" type="continuous">
    <origin xyz="-0.92 0.34 0.07" rpy="0 0 1.5708" />
    <parent link="frame" />
    <child link="wheel_1" />
    <axis xyz="1 0 0" />
    <limit effort="4" velocity="18" />
    </joint>
  <joint name="back_hinge" type="revolute">
    <origin xyz="-0.12 0 0.5" rpy="0 0 0" />
    <parent link="frame" />
    <child link="backrest" />
    <axis xyz="0 1 0" />
    <limit effort="90" velocity="1.2" lower="0" upper="1.15" />
    </joint>
  <joint name="seat_hinge" type="revolute">
    <origin xyz="0.36 0 0.5" rpy="0 0 0" />
    <parent link="frame" />
    <child link="seat" />
    <axis xyz="0 1 0" />
    <limit effort="50" velocity="1" lower="0" upper="0.45" />
    </joint>
  </robot>
