<?xml version='1.0' encoding='utf-8'?>
<robot name="commercial_adjustable_bench">
	<material name="frame_paint">
		<color rgba="0.14 0.15 0.16 1" />
	</material>
	<material name="dark_steel">
		<color rgba="0.21 0.22 0.24 1" />
	</material>
	<material name="upholstery">
		<color rgba="0.09 0.09 0.1 1" />
	</material>
	<material name="backing">
		<color rgba="0.19 0.19 0.2 1" />
	</material>
	<material name="rubber">
		<color rgba="0.04 0.04 0.04 1" />
	</material>
	<material name="roller_vinyl">
		<color rgba="0.13 0.13 0.14 1" />
	</material>
	<material name="wheel_hub">
		<color rgba="0.55 0.57 0.6 1" />
	</material>
	<link name="frame">
		<collision name="rear_stabilizer">
			<origin xyz="-0.62 0 0.04" rpy="0 -0 1.5708" />
			<geometry>
				<box size="0.56 0.08 0.08" />
			</geometry>
		</collision>
		<collision name="front_stabilizer">
			<origin xyz="0.6 0 0.04" rpy="0 -0 1.5708" />
			<geometry>
				<box size="0.52 0.08 0.08" />
			</geometry>
		</collision>
		<collision name="side_rail_0">
			<origin xyz="-0.13 -0.14 0.1" rpy="0 -0.0407937 0" />
			<geometry>
				<box size="0.980816 0.06 0.06" />
			</geometry>
		</collision>
		<collision name="side_rail_1">
			<origin xyz="-0.13 0.14 0.1" rpy="0 -0.0407937 0" />
			<geometry>
				<box size="0.980816 0.06 0.06" />
			</geometry>
		</collision>
		<collision name="rear_brace_0">
			<origin xyz="-0.445 -0.145 0.13" rpy="0 -0.278192 -0.0285637" />
			<geometry>
				<box size="0.364143 0.05 0.05" />
			</geometry>
		</collision>
		<collision name="rear_brace_1">
			<origin xyz="-0.445 0.145 0.13" rpy="0 -0.278192 0.0285637" />
			<geometry>
				<box size="0.364143 0.05 0.05" />
			</geometry>
		</collision>
		<collision name="support_pivot_tube">
			<origin xyz="-0.27 0 0.18" rpy="0 -0 1.5708" />
			<geometry>
				<box size="0.3 0.05 0.05" />
			</geometry>
		</collision>
		<collision name="tower_brace_0">
			<origin xyz="-0.16 -0.15 0.295" rpy="0 -0.807617 0" />
			<geometry>
				<box size="0.318277 0.05 0.05" />
			</geometry>
		</collision>
		<collision name="tower_brace_1">
			<origin xyz="-0.16 0.15 0.295" rpy="0 -0.807617 0" />
			<geometry>
				<box size="0.318277 0.05 0.05" />
			</geometry>
		</collision>
		<collision name="back_hinge_tube">
			<origin xyz="-0.05 0 0.41" rpy="0 -0 1.5708" />
			<geometry>
				<box size="0.3 0.05 0.05" />
			</geometry>
		</collision>
		<collision name="seat_upright_0">
			<origin xyz="0.26 -0.145 0.225" rpy="0 -0.814719 -0.0624188" />
			<geometry>
				<box size="0.233666 0.05 0.05" />
			</geometry>
		</collision>
		<collision name="seat_upright_1">
			<origin xyz="0.26 0.145 0.225" rpy="0 -0.814719 0.0624188" />
			<geometry>
				<box size="0.233666 0.05 0.05" />
			</geometry>
		</collision>
		<collision name="seat_hinge_tube">
			<origin xyz="0.34 0 0.31" rpy="0 -0 1.5708" />
			<geometry>
				<box size="0.3 0.05 0.05" />
			</geometry>
		</collision>
		<collision name="front_brace_0">
			<origin xyz="0.48 -0.155 0.14" rpy="0 -0.163896 -0.124355" />
			<geometry>
				<box size="0.245153 0.05 0.05" />
			</geometry>
		</collision>
		<collision name="front_brace_1">
			<origin xyz="0.48 0.155 0.14" rpy="0 -0.163896 0.124355" />
			<geometry>
				<box size="0.245153 0.05 0.05" />
			</geometry>
		</collision>
		<collision name="yoke_post_0">
			<origin xyz="0.6 -0.17 0.14" rpy="0 -1.5708 0" />
			<geometry>
				<box size="0.2 0.05 0.05" />
			</geometry>
		</collision>
		<collision name="yoke_post_1">
			<origin xyz="0.6 0.17 0.14" rpy="0 -1.5708 0" />
			<geometry>
				<box size="0.2 0.05 0.05" />
			</geometry>
		</collision>
		<collision name="roller_axle_tube">
			<origin xyz="0.64 0 0.18" rpy="0 -0 1.5708" />
			<geometry>
				<box size="0.34 0.05 0.05" />
			</geometry>
		</collision>
		<collision name="wheel_bracket_0">
			<origin xyz="-0.6 -0.2 0.11" rpy="0 -1.5708 0" />
			<geometry>
				<box size="0.06 0.05 0.05" />
			</geometry>
		</collision>
		<collision name="wheel_bracket_1">
			<origin xyz="-0.6 0.2 0.11" rpy="0 -1.5708 0" />
			<geometry>
				<box size="0.06 0.05 0.05" />
			</geometry>
		</collision>
		<collision name="wheel_axle_0">
			<origin xyz="-0.6 -0.2575 0.11" rpy="0 -0 -1.5708" />
			<geometry>
				<box size="0.115 0.035 0.035" />
			</geometry>
		</collision>
		<collision name="wheel_axle_1">
			<origin xyz="-0.6 0.2575 0.11" rpy="0 -0 1.5708" />
			<geometry>
				<box size="0.115 0.035 0.035" />
			</geometry>
		</collision>
		<collision name="front_yoke_bridge">
			<origin xyz="0.6 0 0.18" rpy="0 0 0" />
			<geometry>
				<box size="0.08 0.36 0.05" />
			</geometry>
		</collision>
		<collision name="center_gusset">
			<origin xyz="0.22 0 0.2" rpy="0 0 0" />
			<geometry>
				<box size="0.2 0.26 0.14" />
			</geometry>
		</collision>
		<visual name="frame__rear_stabilizer">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__rear_stabilizer.glb" />
			</geometry>
		</visual>
		<visual name="frame__front_stabilizer">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__front_stabilizer.glb" />
			</geometry>
		</visual>
		<visual name="frame__side_rail_0">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__side_rail_0.glb" />
			</geometry>
		</visual>
		<visual name="frame__side_rail_1">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__side_rail_1.glb" />
			</geometry>
		</visual>
		<visual name="frame__rear_brace_0">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__rear_brace_0.glb" />
			</geometry>
		</visual>
		<visual name="frame__rear_brace_1">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__rear_brace_1.glb" />
			</geometry>
		</visual>
		<visual name="frame__support_pivot_tube">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__support_pivot_tube.glb" />
			</geometry>
		</visual>
		<visual name="frame__tower_brace_0">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__tower_brace_0.glb" />
			</geometry>
		</visual>
		<visual name="frame__tower_brace_1">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__tower_brace_1.glb" />
			</geometry>
		</visual>
		<visual name="frame__back_hinge_tube">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__back_hinge_tube.glb" />
			</geometry>
		</visual>
		<visual name="frame__seat_upright_0">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__seat_upright_0.glb" />
			</geometry>
		</visual>
		<visual name="frame__seat_upright_1">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__seat_upright_1.glb" />
			</geometry>
		</visual>
		<visual name="frame__seat_hinge_tube">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__seat_hinge_tube.glb" />
			</geometry>
		</visual>
		<visual name="frame__front_brace_0">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__front_brace_0.glb" />
			</geometry>
		</visual>
		<visual name="frame__front_brace_1">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__front_brace_1.glb" />
			</geometry>
		</visual>
		<visual name="frame__yoke_post_0">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__yoke_post_0.glb" />
			</geometry>
		</visual>
		<visual name="frame__yoke_post_1">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__yoke_post_1.glb" />
			</geometry>
		</visual>
		<visual name="frame__roller_axle_tube">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__roller_axle_tube.glb" />
			</geometry>
		</visual>
		<visual name="frame__wheel_bracket_0">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__wheel_bracket_0.glb" />
			</geometry>
		</visual>
		<visual name="frame__wheel_bracket_1">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__wheel_bracket_1.glb" />
			</geometry>
		</visual>
		<visual name="frame__wheel_axle_0">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__wheel_axle_0.glb" />
			</geometry>
		</visual>
		<visual name="frame__wheel_axle_1">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__wheel_axle_1.glb" />
			</geometry>
		</visual>
		<visual name="frame__front_yoke_bridge">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__front_yoke_bridge.glb" />
			</geometry>
		</visual>
		<visual name="frame__center_gusset">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/frame__center_gusset.glb" />
			</geometry>
		</visual>
	</link>
	<link name="backrest">
		<collision name="backrest_pad">
			<origin xyz="-0.371522 0 0.179154" rpy="0 0.34 0" />
			<geometry>
				<box size="0.82 0.31 0.09" />
			</geometry>
		</collision>
		<collision name="backrest_pad_board">
			<origin xyz="-0.3669 0 0.143045" rpy="0 0.34 0" />
			<geometry>
				<box size="0.7544 0.2728 0.025" />
			</geometry>
		</collision>
		<collision name="backrest_pad_bridge">
			<origin xyz="-0.0460155 0 0.03484" rpy="0 0.34 0" />
			<geometry>
				<box size="0.11 0.1736 0.0375" />
			</geometry>
		</collision>
		<collision name="backrest_pad_hinge">
			<origin xyz="0 0 0.02" rpy="1.5708 0 0" />
			<geometry>
				<cylinder radius="0.02375" length="0.1922" />
			</geometry>
		</collision>
		<visual name="backrest__backrest_pad">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/backrest__backrest_pad.glb" />
			</geometry>
		</visual>
		<visual name="backrest__backrest_pad_board">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/backrest__backrest_pad_board.glb" />
			</geometry>
		</visual>
		<visual name="backrest__backrest_pad_bridge">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/backrest__backrest_pad_bridge.glb" />
			</geometry>
		</visual>
		<visual name="backrest__backrest_pad_hinge">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/backrest__backrest_pad_hinge.glb" />
			</geometry>
		</visual>
	</link>
	<link name="seat">
		<collision name="seat_pad">
			<origin xyz="-0.147688 0 0.0499438" rpy="0 0.05 0" />
			<geometry>
				<box size="0.3 0.34 0.085" />
			</geometry>
		</collision>
		<collision name="seat_pad_board">
			<origin xyz="-0.143195 0 0.0196814" rpy="0 0.05 0" />
			<geometry>
				<box size="0.276 0.2992 0.025" />
			</geometry>
		</collision>
		<collision name="seat_pad_bridge">
			<origin xyz="-0.0440691 0 0.0197272" rpy="0 0.05 0" />
			<geometry>
				<box size="0.09 0.1904 0.0375" />
			</geometry>
		</collision>
		<collision name="seat_pad_hinge">
			<origin xyz="0 0 0.02" rpy="1.5708 0 0" />
			<geometry>
				<cylinder radius="0.02375" length="0.2108" />
			</geometry>
		</collision>
		<visual name="seat__seat_pad">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/seat__seat_pad.glb" />
			</geometry>
		</visual>
		<visual name="seat__seat_pad_board">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/seat__seat_pad_board.glb" />
			</geometry>
		</visual>
		<visual name="seat__seat_pad_bridge">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/seat__seat_pad_bridge.glb" />
			</geometry>
		</visual>
		<visual name="seat__seat_pad_hinge">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/seat__seat_pad_hinge.glb" />
			</geometry>
		</visual>
	</link>
	<link name="support_arm">
		<collision name="support_axle">
			<origin xyz="0 0 0" rpy="0 -0 1.5708" />
			<geometry>
				<box size="0.24 0.05 0.05" />
			</geometry>
		</collision>
		<collision name="support_leg_0">
			<origin xyz="-0.08 -0.12 0.115" rpy="0 -0.962994 3.14159" />
			<geometry>
				<box size="0.280179 0.045 0.045" />
			</geometry>
		</collision>
		<collision name="support_leg_1">
			<origin xyz="-0.08 0.12 0.115" rpy="0 -0.962994 3.14159" />
			<geometry>
				<box size="0.280179 0.045 0.045" />
			</geometry>
		</collision>
		<collision name="support_cross">
			<origin xyz="-0.16 0 0.23" rpy="0 -0 1.5708" />
			<geometry>
				<box size="0.24 0.045 0.045" />
			</geometry>
		</collision>
		<collision name="support_web_0">
			<origin xyz="-0.11 -0.05 0.165" rpy="0 -0.743343 2.35619" />
			<geometry>
				<box size="0.192094 0.035 0.035" />
			</geometry>
		</collision>
		<collision name="support_web_1">
			<origin xyz="-0.11 0.05 0.165" rpy="0 -0.743343 -2.35619" />
			<geometry>
				<box size="0.192094 0.035 0.035" />
			</geometry>
		</collision>
		<collision name="support_saddle">
			<origin xyz="-0.0864636 0 0.201802" rpy="0 0.12 0" />
			<geometry>
				<box size="0.18 0.24 0.025" />
			</geometry>
		</collision>
		<visual name="support_arm__support_axle">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/support_arm__support_axle.glb" />
			</geometry>
		</visual>
		<visual name="support_arm__support_leg_0">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/support_arm__support_leg_0.glb" />
			</geometry>
		</visual>
		<visual name="support_arm__support_leg_1">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/support_arm__support_leg_1.glb" />
			</geometry>
		</visual>
		<visual name="support_arm__support_cross">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/support_arm__support_cross.glb" />
			</geometry>
		</visual>
		<visual name="support_arm__support_web_0">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/support_arm__support_web_0.glb" />
			</geometry>
		</visual>
		<visual name="support_arm__support_web_1">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/support_arm__support_web_1.glb" />
			</geometry>
		</visual>
		<visual name="support_arm__support_saddle">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/support_arm__support_saddle.glb" />
			</geometry>
		</visual>
	</link>
	<link name="wheel_0">
		<collision name="wheel_tire">
			<origin xyz="0 0 0" rpy="1.5708 0 0" />
			<geometry>
				<cylinder radius="0.055" length="0.028" />
			</geometry>
		</collision>
		<collision name="wheel_tire_hub">
			<origin xyz="0 0 0" rpy="1.5708 0 0" />
			<geometry>
				<cylinder radius="0.0286" length="0.03136" />
			</geometry>
		</collision>
		<collision name="wheel_tire_cap">
			<origin xyz="0 0 0" rpy="1.5708 0 0" />
			<geometry>
				<cylinder radius="0.01375" length="0.0336" />
			</geometry>
		</collision>
		<visual name="wheel_0__wheel_tire">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/wheel_0__wheel_tire.glb" />
			</geometry>
		</visual>
		<visual name="wheel_0__wheel_tire_hub">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/wheel_0__wheel_tire_hub.glb" />
			</geometry>
		</visual>
		<visual name="wheel_0__wheel_tire_cap">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/wheel_0__wheel_tire_cap.glb" />
			</geometry>
		</visual>
	</link>
	<link name="wheel_1">
		<collision name="wheel_tire">
			<origin xyz="0 0 0" rpy="1.5708 0 0" />
			<geometry>
				<cylinder radius="0.055" length="0.028" />
			</geometry>
		</collision>
		<collision name="wheel_tire_hub">
			<origin xyz="0 0 0" rpy="1.5708 0 0" />
			<geometry>
				<cylinder radius="0.0286" length="0.03136" />
			</geometry>
		</collision>
		<collision name="wheel_tire_cap">
			<origin xyz="0 0 0" rpy="1.5708 0 0" />
			<geometry>
				<cylinder radius="0.01375" length="0.0336" />
			</geometry>
		</collision>
		<visual name="wheel_1__wheel_tire">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/wheel_1__wheel_tire.glb" />
			</geometry>
		</visual>
		<visual name="wheel_1__wheel_tire_hub">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/wheel_1__wheel_tire_hub.glb" />
			</geometry>
		</visual>
		<visual name="wheel_1__wheel_tire_cap">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/wheel_1__wheel_tire_cap.glb" />
			</geometry>
		</visual>
	</link>
	<link name="roller_0">
		<collision name="roller_body">
			<origin xyz="0 0 0" rpy="1.5708 0 0" />
			<geometry>
				<cylinder radius="0.055" length="0.12" />
			</geometry>
		</collision>
		<collision name="roller_body_hub">
			<origin xyz="0 0 0" rpy="1.5708 0 0" />
			<geometry>
				<cylinder radius="0.0286" length="0.1344" />
			</geometry>
		</collision>
		<collision name="roller_body_cap">
			<origin xyz="0 0 0" rpy="1.5708 0 0" />
			<geometry>
				<cylinder radius="0.01375" length="0.144" />
			</geometry>
		</collision>
		<visual name="roller_0__roller_body">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/roller_0__roller_body.glb" />
			</geometry>
		</visual>
		<visual name="roller_0__roller_body_hub">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/roller_0__roller_body_hub.glb" />
			</geometry>
		</visual>
		<visual name="roller_0__roller_body_cap">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/roller_0__roller_body_cap.glb" />
			</geometry>
		</visual>
	</link>
	<link name="roller_1">
		<collision name="roller_body">
			<origin xyz="0 0 0" rpy="1.5708 0 0" />
			<geometry>
				<cylinder radius="0.055" length="0.12" />
			</geometry>
		</collision>
		<collision name="roller_body_hub">
			<origin xyz="0 0 0" rpy="1.5708 0 0" />
			<geometry>
				<cylinder radius="0.0286" length="0.1344" />
			</geometry>
		</collision>
		<collision name="roller_body_cap">
			<origin xyz="0 0 0" rpy="1.5708 0 0" />
			<geometry>
				<cylinder radius="0.01375" length="0.144" />
			</geometry>
		</collision>
		<visual name="roller_1__roller_body">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/roller_1__roller_body.glb" />
			</geometry>
		</visual>
		<visual name="roller_1__roller_body_hub">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/roller_1__roller_body_hub.glb" />
			</geometry>
		</visual>
		<visual name="roller_1__roller_body_cap">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="groups/roller_1__roller_body_cap.glb" />
			</geometry>
		</visual>
	</link>
	<joint name="frame_to_backrest" type="revolute">
		<origin xyz="-0.05 0 0.41" rpy="0 0 0" />
		<parent link="frame" />
		<child link="backrest" />
		<axis xyz="0 1 0" />
		<limit effort="180" velocity="1.4" lower="-0.34" upper="1.02" />
	</joint>
	<joint name="frame_to_seat" type="revolute">
		<origin xyz="0.34 0 0.31" rpy="0 0 0" />
		<parent link="frame" />
		<child link="seat" />
		<axis xyz="0 1 0" />
		<limit effort="120" velocity="1.2" lower="-0.1" upper="0.34" />
	</joint>
	<joint name="frame_to_support_arm" type="revolute">
		<origin xyz="-0.27 0 0.18" rpy="0 0 0" />
		<parent link="frame" />
		<child link="support_arm" />
		<axis xyz="0 1 0" />
		<limit effort="220" velocity="1.2" lower="-0.55" upper="0.45" />
	</joint>
	<joint name="frame_to_wheel_0" type="continuous">
		<origin xyz="-0.6 -0.314 0.055" rpy="0 0 0" />
		<parent link="frame" />
		<child link="wheel_0" />
		<axis xyz="0 1 0" />
		<limit effort="30" velocity="20" />
	</joint>
	<joint name="frame_to_wheel_1" type="continuous">
		<origin xyz="-0.6 0.314 0.055" rpy="0 0 0" />
		<parent link="frame" />
		<child link="wheel_1" />
		<axis xyz="0 1 0" />
		<limit effort="30" velocity="20" />
	</joint>
	<joint name="frame_to_roller_0" type="continuous">
		<origin xyz="0.64 -0.085 0.18" rpy="0 0 0" />
		<parent link="frame" />
		<child link="roller_0" />
		<axis xyz="0 1 0" />
		<limit effort="40" velocity="20" />
	</joint>
	<joint name="frame_to_roller_1" type="continuous">
		<origin xyz="0.64 0.085 0.18" rpy="0 0 0" />
		<parent link="frame" />
		<child link="roller_1" />
		<axis xyz="0 1 0" />
		<limit effort="40" velocity="20" />
	</joint>
</robot>